{% extends 'base.html' %}
{% load static %}

{% block content %}
<section xmlns="http://www.w3.org/1999/html">
  <article>
    <h1>Make a reservation</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">

          <form method="POST" id="form">
            {% csrf_token %}
            <p>
              <label for="first_name">Name:</label>
              <input type="text" placeholder="Your Name" maxlength="200" required="" id="first_name">
            </p>

            <!-- _______Step 9: Part 1 copy above p -->
            <p>
              <label for="reservation_date">Reservation date:</label>
              <input type="date" placeholder="Pick a date" id="reservation_date">
              <!--
              document.getElementById('reservation_date')
              addEventListener('change': { getBookings() })
              -->
            </p>

            <p>
                <label for="id_field">Reservation slot:</label>
                <select name="field" id="id_field">
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="3:00 PM">3:00 PM</option>
                    <option value="4:00 PM">4:00 PM</option>
                    <option value="5:00 PM">5:00 PM</option>
                    <option value="6:00 PM">6:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>
                    <option value="8:00 PM">8:00 PM</option>
                    <option value="9:00 PM">9:00 PM</option>
                </select>
            </p>

            <button type="button" id="button">Reserve</button>

          </form>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <h2>Bookings For <span id="today"> </span></h2>

        <div id="bookings">
        </div>
      </div>
      <!--End col-->

    </div>
    <!--End row-->
  </article>
</section>
<script>
    console.log("Hello");
    document.getElementById("id_reservatoin_date");
    Booking.objects.filter(reservation_date__type="date")
</script>
{% endblock %}

